<h2>Favorites</h2>
<% @favorites.each do |favorite| %>
	<% recipe = Recipe.find(favorite.recipe_id) %>
	<li>
		<a href="/recipes/<%= recipe.api_id %>">
			<%= Recipe.get_recipe(recipe.api_id)['title'] %>
		</a>
	</li>
<% end %>
