<div class='container'>
	<div class='row'>
		<div id='tab1' class='col-md-2 tab active'>Tab1</div>
		<div id='tab2' class='col-md-2 tab'>Tab2</div>
		<div id='tab3' class='col-md-2 tab'>Tab3</div>
	</div>
</div>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
	<div class="row">
		<div id='tab-1-content' class='col-md-5'></div>
	</div>
</div>
