<div class='container'>
	<div class='row'>
		<div id='tab1' class='col-md-2 tab active'>Tab1</div>
		<div id='tab2' class='col-md-2 tab'>Tab2</div>
		<div id='tab3' class='col-md-2 tab'>Tab3</div>
	</div>
</div>

<%= button_to render(partial: 'taste_profiles/taste_profile_show'), create_taste_profile_path %>


