<div class="container">
	<div id="tab1">Tab1</div>
	<div id="tab2">Tab2</div>
	<div id="tab3">Tab3</div>

</div>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
