<h3>Average User Ratings!</h3>
  <input name="averageStars" type="radio" class="star" disabled="disabled"/>
  <input name="averageStars" type="radio" class="star" disabled="disabled"/>
  <input name="averageStars" type="radio" class="star" disabled="disabled"/>
  <input name="averageStars" type="radio" class="star" disabled="disabled"/>
  <input name="averageStars" type="radio" class="star" disabled="disabled"/>
