@import 'main';

form {
	position: relative;

	textarea {
		height: 6em;
		width: 27em;
		resize: none;
		padding: 0.5em;
		font: 1em $font-stack;
	}

	.submit-comment-button {
		position: relative;
		bottom: 1em;
	}
}