@import url(https://fonts.googleapis.com/css?family=Lobster+Two|Berkshire+Swash|Merienda+One|Arimo|Josefin+Sans);
@import "bootstrap";

// ====================
// Fonts
// ====================
$logo-font: 'Lobster Two', cursive;
$font-stack: 'Josefin Sans', Tahoma, sans-serif;

// ====================
// Colors
// ====================
$primary-color: #b5ca7e;
$primary-tint: #bccf8a;
$primary-shade: #a2b571;


$secondary-color: #f26a6c;
$secondary-tint: #f48789;
$secondary-shade: #f26a6c;

$tertiary-color: #FFB13A;
$tertiary-tint: #ffc061;
$tertiary-shade: #FFA61E;

$off-white: #fdfffa;
$white-shade: #F0F0F0;
$dark-grey: #4b4b4b;

// ====================
// General Styles
// ====================
html { height: 100%; }

body {
  font-family: $font-stack;
  color: $dark-grey;
  height: 100%;
}

*:focus { outline: none !important; }

li { list-style: none; }

a, a:hover, a:focus { text-decoration: none; }

// ====================
// Media Queries
// ====================
/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) and (max-width : 768px) {

  #user_email {
    color: $dark-grey;
  }

  #user_password {
    color: $dark-grey;
  }

  .search-box {
    margin: 0 auto;
    float: none;
    color: $dark-grey;
  }

  .navbar {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

/** New green menu buttons **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: "  ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: "  ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** The buttons **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;

  .nav-list {
    li {
      background-color: $primary-shade;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      color: $off-white;
      padding: 4px 15px;
      float: right;
      display: inline;
    }
  }

}

// .list-group {
//   display: inline-block;
//   float: center;
// }

.nav-list {
  li {
    background-color: $primary-shade;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    color: $off-white;
    padding: 4px 15px;
  }
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    font-size: 1.6em;
  }

  .navbar {
    background-color: $primary-color;
    color: $off-white;
    border-radius: 0;
    font-size: 1.3em;

    a { color: $off-white; }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 1em 0.45em;

      &:hover {
        background-color: $primary-tint;
      }

    }
    .signed-in-as:hover {
      background-color: $primary-color;
    }

    img {
      margin-top: 10px;
      width: 40px;
      display: inline-block;
    }

    .home-button {
      position: relative;
      top: 17px;
      font-family: $logo-font;
    }
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: 0 auto -2em;
  }

  .push {
    height: 2em;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    font-size: 0.75em;
    padding: 0.5em 0;
    background-color: $primary-color;
    color: $off-white;
  }
}

/* Extra Small Devices, Phones */
@media (min-width : 480px) {
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
}

.debugger {
  border: 1px solid red;
}

// ====================
// Buttons
// ====================
.btn-green {
 background: -webkit-linear-gradient(top, $primary-shade, $primary-tint);
   background: -o-linear-gradient(top, $primary-shade, $primary-tint);
   background: -moz-linear-gradient(top, $primary-shade, $primary-tint);
   background: linear-gradient(top, $primary-shade, $primary-tint);
 color: $off-white;
 padding: 0.4em;

  &:hover {
    background: $primary-color;
    color: $off-white;
  }
  &:active, &:focus {
    background: $primary-color;
  }
}

.btn-red {
  background: -webkit-linear-gradient(top, $secondary-color, $secondary-tint);
  background: -o-linear-gradient(top, $secondary-color, $secondary-tint);
  background: -moz-linear-gradient(top, $secondary-color, $secondary-tint);
  background: linear-gradient(top, $secondary-color, $secondary-tint);
  font: 1.3em $font-stack;
  color: $off-white;

  &:hover {
    background: $secondary-shade;
    color: $off-white;
  }
  &:active, &:focus {
    background: $secondary-shade;
  }
}

.btn-orange {
  background: -webkit-linear-gradient(top, $tertiary-color, $tertiary-tint);
  background: -o-linear-gradient(top, $tertiary-color, $tertiary-tint);
  background: -moz-linear-gradient(top, $tertiary-color, $tertiary-tint);
  background: linear-gradient(top, $tertiary-color, $tertiary-tint);
  font: 1.3em $font-stack;
  color: $off-white;

  &:hover {
    background: $tertiary-shade;
    color: $off-white;
  }
  &:active, &:focus {
    background: $tertiary-shade;
  }
}

