@media only screen and (min-width : 320px) and (max-width : 768px) {

	.row {
	  float: center;

	}
	.star-rating {
	  float: right;
	  width: 100%
	}

	a {
	  display: inline-block;
	  float: none;
	  vertical-align: middle;
	}

}