@import 'main';

@media only screen and (min-width : 768px) {

	#swipe-left-swipe-right {

	}

	.prep-block {
		width: 25em;
	}

	.comment {
		background: $white-shade;
		padding: 0.75em;
		margin: 0.5em;

		.comment-info {
			display: inline-block;
			font-size: 0.75em;
		}
	}

	.form-control {
		resize: none;
		padding: 0.5em;
		font: 1em $font-stack;
	}
}
