@import 'main';
// /* Extra Small Devices, Phones */

@media only screen and (min-width : 320px) and (max-width : 768px) {

.container-fluid {
	text-align: center;
}

	.row {
	  padding: 0.2em;
	}

	#user_remember_me {
	  display: inline;
	}
}

.nav-bar {
	float: clear;
}

@media only screen and (min-width : 768px) {
// 	.row {
// 	  padding: 0.2em;
// 	}

// .field {
//   display: inline-block;
//   margin: 0 auto;
//   padding: 0.2em;
// }

// #user_email {
//   color: #4b4b4b;
// }

// #user_password {
//   color: #4b4b4b;
// }
// label {
//   display: inline-block;
//   margin: 0 auto;
//   float: left;
// }

	.profile {
		width: 44em;
		margin: 0 auto;

		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}

		#favorites {
			margin-left: -15px;
		}

		ul {
			margin: 0;
			padding: 0;
		}
	}

	.tab {
		border: 1px solid $dark-grey;
		border-bottom: 0;
		padding: 0.5em;
		display: inline-block;
	}

	.active {
		border-bottom: 1px solid white;
	}

	.sheet {
		padding: 1em;
		border-top: 1px solid $dark-grey;
		margin: 0;
		margin-top: -1px;
	}

	#delete-excluded-ingredient {
		border: none;
		background: none;
	}

}
