
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.field {
	  display: inline-block;
	  margin: 0 auto;
	}
	.row {
	  padding: 0.2em;
	}

	#user_remember_me {
	  display: inline;
	}
}

@media only screen and (min-width : 768px) {
	
}
// .field {
//   display: inline-block;
//   margin: 0 auto;
//   padding: 0.2em;
// }

// #user_email {
//   color: #4b4b4b;
// }

// #user_password {
//   color: #4b4b4b;
// }

// #remember_me {

// }

// label {
//   display: inline-block;
//   margin: 0 auto;
//   float: left;
// }
