  @import 'main';

// form { display: inline-block; }

.title-text {
	font: 2em $logo-font;
  text-align: center;
}

input.search-box {
  margin: right;
  float: none;
}

.search-box {
  margin: 0 auto;
  float: none;
  color: $dark-grey;
  padding: 0.2 em;
}

// .search-box {
// 	font: 1.25em $font-stack;
// 	padding: 0.2em;
// 	text-align: center;
// }
