@import 'main';

@media only screen and (min-width : 320px) and (max-width : 768px) {

	img {
	width: 15%;
	}
}

@media only screen and (min-width : 768px) {
	.title-text {
		font: 6em $logo-font;
		color: $primary-color;
	}

	.search-box {
		width: 30em;
		font-size: 1.4em;
	  padding: 0.2 em;
	  color: $dark-grey;
	  margin-bottom: 0.6em;
	}


}
