@import 'main';

form {
	input.find-a-recipe {
		background: -webkit-linear-gradient(top, $secondary-color, $secondary-tint);
		  background: -o-linear-gradient(top, $secondary-color, $secondary-tint);
		  background: -moz-linear-gradient(top, $secondary-color, $secondary-tint);
		  background: linear-gradient(top, $secondary-color, $secondary-tint);
		font-size: 0.75em;

		&:hover {
			background: $secondary-shade;
		}
	}

	input.im-feeling-hungry {
		background: -webkit-linear-gradient(top, $tertiary-color, $tertiary-tint);
		  background: -o-linear-gradient(top, $tertiary-color, $tertiary-tint);
		  background: -moz-linear-gradient(top, $tertiary-color, $tertiary-tint);
		  background: linear-gradient(top, $tertiary-color, $tertiary-tint);
		font-size: 0.75em;

		&:hover {
			background: $tertiary-shade;
		}
	}
}